/************* Global prop *************/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Apercu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    color: #484848;
}

img {
    vertical-align: middle;
    border-style: none;
}

/************* Header *************/

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    padding: 1.5rem;
    background: #FFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
}

.header-links {
    text-decoration: none;
    color: #484848;
}

svg {
    color: black;
}

.header-nav1 li {
    margin: .5rem;
}

.header-nav1 li:first-child {
    margin-left: 6rem;
    margin-right: 2rem;
}

.header-nav2 li {
    margin: 0 1rem;
}

.header-nav2 li:last-child {
    margin-right: 5rem;
}

.btn {
    border: 1px solid transparent;
    border-radius: .2rem;
    padding: 0.5rem 1rem;
}

.btn-full {
    background-color: #6400E4;
    color: #fff;
}

/************* Main *************/

.landing-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
}

/************* first section *************/

.section-intro {
    flex-basis: 50%;
}

/************* Form section *************/

.section-form {
    flex-basis: 50%;
}

.form-control {
    width: 50%;
}

.tos {
    font-size: .88rem;
}

.btn-primary{
    width: 50%;
}
/************* FOOTER *************/

footer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

footer ul {
    list-style: none;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
}

/************* Footer features *************/

.footer-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-features a:visited, .footer-features a:link {
    color: #484848;
    text-decoration: none;
}

.footer-features a:hover {
    color: #5788fa;
    transition: .5s ease;
}

/************* Footer info *************/

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.footer-info-details ul {
    display: flex;
    justify-content: start;
    margin-left: 7rem;
}

.footer-info-details li {
    margin: 1rem;
}

.copy-rights {
    margin-right: 3rem;
}

.footer-info-details a, .copy-rights {
    font-size: 1rem;
}

.divider::after {
    content: "|";
    font: 2rem;
}