/************* Global prop *************/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Apercu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    color: #484848;
}

img {
    vertical-align: middle;
    border-style: none;
}

/*************************** Header *************************/

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    padding: 1.5rem;
    background: #FFF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
}

.header-links {
    text-decoration: none;
    color: #484848;
}

svg {
    color: black;
}

.header-nav1 li {
    margin: .5rem;
}

.header-nav1 li:first-child {
    margin-left: 6rem;
    margin-right: 2rem;
}

.header-nav2 li {
    margin: 0 1rem;
}

.header-nav2 li:last-child {
    margin-right: 5rem;
}

.btn {
    border: 1px solid transparent;
    border-radius: .2rem;
    padding: 0.5rem 1rem;
}

.btn-full {
    background-color: #6400E4;
    color: #fff;
}

/******************************** Main *******************************/

.landing-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
}

/************* intro section *************/

.section-intro {
    flex-basis: 50%;
}

.enternce {
    position: absolute;
    top: 55%;
    padding: 2rem;
    background-color: #6400E4;
    color: #FFF;
    z-index: 3;
}

.code-student {
    position: absolute;
    top: 50%;
    top: 30%;
    z-index: 1;
}

.square {
    position: absolute;
    top: 22%;
    left: 30%;
}

.hamburger {
    position: absolute;
    top: 40%;
    left: 16%;
    z-index: 2;
}

.three-dots {
    position: absolute;
    top: 20%;
    left: 10%;
}

.triangerl {
    position: absolute;
    z-index: 2;
    top: 70%;
}

/************* Form section *************/

.section-form {
    flex-basis: 50%;
    margin: 5rem 0 0 10rem;
}

.form-control {
    width: 50%;
}

.tos {
    font-size: .88rem;
}

.btn-primary {
    width: 50%;
    background-color: #6400E4;
    color: #FFF;
    margin-bottom: 2rem;
}

.form-links {
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.form-links-items {
    padding: .2rem 1rem;
    margin: 1rem;
    color: #4b4b4d;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

/************* CARD SECTION *************/

.section-card {
    position: relative;
    background-color: #f1f3fe;
    padding: 1rem 1rem 4rem;
}

.section-card-image {
    position: absolute;
    bottom: 50%;
    left: 35%;
}

.section-card-content {
    position: absolute;
    bottom: 50%;
    left: 8%;
    padding: 1.3rem 0;
    background-color: #6400E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.section-card-content h3 {
    color: #FFF;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
}

span {
    color: #ffd500;
}

.section-card-contnet-p {
    color: #fff;
    margin: 2rem;
}

.quiz-btn:link, .quiz-btn:visited {
    padding: .5rem;
    margin-bottom: 1rem;
    border: 1px solid #FFD500;
    border-radius: 10rem;
    background-color: #FFD500;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.quiz-btn:hover {
    box-shadow: 1px 1px black;
}

/************* GET STARTED SECTION *************/

.get-started-section {
    background-color: #6400E4;
    color: #FFF;
    position: relative;
    padding: 15rem 0;
}

.get-started-section-towellipse-img {
    position: absolute;
    left: -10rem;
    top: 20%;
    width: 30rem;
}

.get-started-section-ellipse-img {
    position: absolute;
    left: 83%;
    top: 0%;
}

.get-started-section-toggles-img {
    position: absolute;
    left: 86%;
    bottom: 5%;
}

.get-satrted-section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*to take the middle of the section */
    text-align: center;
}

.get-satrted-section-heading {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.get-started-section p {
    margin: 2rem 0;
}

.get-started-section-btn:link, .get-started-section-btn:visited {
    color: #FFF;
    margin-top: 2rem;
    padding: 1rem 7rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 3rem;
}

.get-started-section-btn:hover {
    background-color: #FFF;
    color: #6400E4;
    transition: .5s ease;
}

/*********************** FOOTER **************************/

footer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

footer ul {
    list-style: none;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3rem;
}

/************* Footer features *************/

.footer-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-features a:visited, .footer-features a:link {
    color: #484848;
    text-decoration: none;
}

.footer-features a:hover {
    color: #5788fa;
    transition: .5s ease;
}

/************* Footer info *************/

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.footer-info-details ul {
    display: flex;
    justify-content: start;
    margin-left: 7rem;
}

.footer-info-details li {
    margin: 1rem;
}

.copy-rights {
    margin-right: 3rem;
}

.footer-info-details a, .copy-rights {
    font-size: 1rem;
}

.divider::after {
    content: "|";
    font: 2rem;
}

/*********************** MEDIA QUEREY **************************/

@media only screen and (max-width: 767px) {
    .header-nav1 {
        overflow: hidden;
    }
    .section-intro {
        display: none;
    }
    main {
        margin-bottom: 20rem;
    }
    .section-form {
        margin: 0 auto;
    }
   
    .section-card-image {
        display: none;
    }
    .section-card-content {
        position: absolute;
        bottom: 50%;
        left: 0;
    }
    .get-started-section-towellipse-img, .get-started-section-ellipse-img, .get-started-section-toggles-img {
        display: none;
    }
    .get-started-section-btn {
        display: block;
    }
    .footer-features {
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
    }
    .footer-info {
        display: flex;
        flex-wrap: wrap;
    }
    .copy-rights {
        margin-left: 10rem;
    }
    .bg-image {
        max-width: 50%;
    }
}